.back-dialog{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}

.dialog-content{
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin:40px auto 0px auto;
    min-width:150px;
    max-width:600px;
    min-height: 150px;
    max-height: 600px;
    padding-bottom: 10px;
    background-color: #c5c5c5;
}

.dialog-title{
    text-align: center;
    position: relative;
    vertical-align: middle;
    height: 30px;
    background-color: #3498DB;
    color: #fff;
    font-size: 25px;
    padding-left: 10px;
}